@page
@model FunWithBrandt.BlogModel
@{
    ViewData["Title"] = "Blog";
}

<head>
    <style>
        .blog {
            max-width:900px;
        }

        .blog-date {
            font-size: x-large;
        }

        .blog-title {
            font-size:small;
        }

        .blog-content {

        }

    </style>
</head>

<h1 class="text-center">Some Blog Title Here</h1>
<br /><br />

<div class="row">
    <div class="col-10">
         @foreach (var post in Model.blogPosts) { <div class="blog">
                <h1 class="blog-date">@post.Title</h1>
                <h2 class="blog-title">@post.Date</h2>
                <br />
                <p class="blog-content"> @post.Content</p>
            </div>
            <hr />
            <br />
            <br />

        }
    </div>
</div>