@page
@model FunWithBrandt.BlogModel
@{
    ViewData["Title"] = "Blog";
}

<head>
    <style>
        .blog {

        }

        .blog-date {
            font-size: x-large;
        }

        .blog-title {
            font-size:small;
        }

        .blog-content {

        }

    </style>
</head>

<h1 class="text-center">Some Blog Title Here</h1>
<br />


@foreach (var post in Model.blogPosts)
{
    <div class="blog">
        <h1 class="blog-date">@post.Title</h1>
        <h2 class="blog-title">@post.Date</h2>
        <br />
        @* Ideally at some point the below will be an iteration over a list peoprty fo rthe paragraphs or content. *@
        <p class="blog-content"> @post.Content</p>
    </div>
    <hr />
    <br />
    <br />

}