@page
@model FunWithBrandt.BlogModel
@{
    ViewData["Title"] = "Blog";
}

<head>
    <style>
        .blog {
            max-width:900px;
        }

        .blog-date {
            font-size: x-large;
        }

        .blog-title {
            font-size:small;
        }

        .blog-content {

        }

        .blog-image {
            max-height:500px;
            max-width:500px;
        }

    </style>
</head>

<h1>Some Blog Title Here</h1>
<br /><br />

<div class="row">
    <div class="col-9">
         @foreach (var post in Model.blogPosts) { 
            <div class="blog">
                <h1 class="blog-date">@post.Title</h1>
                <h2 class="blog-title">@post.Date</h2>
                <br />
                <div class="blog-content"> 

                @{ 
                    foreach (var chunk in post.Content)
                    {
                        if (!chunk.Contains("<img>"))
                        {
                            <p>@chunk</p>
                        }
                        else
                        {   <div>
                                <img class="img-fluid" @("src= " + chunk.Replace("<img>","")) />
                            </div>    
                        }
                    }
                }
                
                </div>
            </div>
            <hr />
            <br />
            <br />

        }
    </div>
</div>