@page
@model FunWithBrandt.BlogModel
@{
    ViewData["Title"] = "Blog";
}

<head>
    <style>
        .blog {

        }

        .blog-date {
            font-size: x-large;
        }

        .blog-title {
            font-size:small;
        }

        .blog-content {

        }

    </style>
</head>

<h1 class="text-center">Some Blog Title Here</h1>
<br />
<button onclick="message()" type="button" class="btn btn-primary">Click Me</button>

@foreach (var post in Model.blogPosts)
{
    <div class="blog">
        <h1 class="blog-date">@post.Title</h1>
        <h2 class="blog-title">@post.Date</h2>
        <br />
        <p class="blog-content"> @post.Content</p>
    </div>
    <hr />
    <br />
    <br />

}

<script>
    function message() {
        alert("OMG I can't believe you did that. Your name must be Michael Hubbell. How embarassing!!!!!");
    }
</script>