@page
@model FunWithBrandt.BooksModel
@{
    ViewData["Title"] = "Books";
}


<head>
    <style>
        img {
            width: 200px;
            height: 260px;
        }
    </style>
</head>

<h1>Books</h1>
<form method="post">
    <button formmethod="post" type="submit" class="btn btn-light">For Hubbell</button>
</form>

<br />
<br />
<br />


<p>
    This page is coming soon. It's a big project and I'll be modeling it off of
    <a href="https://www.gatesnotes.com/Books">Bill Gates' blog</a>
    because I think his looks pretty cool.
</p>
<br />


@{ if (Model.ShowHubbel)
    {

        <div class="row">
            <div class="col-lg-3 col-sm-6 img-thumbnail">
                <img src="~/Images/Books/Uncertain World.jpg" />
                <div> Bob is so cool. Piercing analytical mind.</div>
            </div>
            <div class="col-lg-3 col-sm-6 img-thumbnail">
                <img src="~/Images/Books/AntiFragile.jpg" />
                <div>Taleb will tear you wide open. Also change you're world view</div>
            </div>
            <div class="col-lg-3 col-sm-6 img-thumbnail">
                <img src="~/Images/Books/StressTest.jpg" />
                <div>Tim is a hero and and thinks in an inspiringly pragmatic manner.</div>
            </div>
            <div class="col-lg-3 col-sm-6 img-thumbnail">
                <img src="~/Images/Books/RichardFeynman.jpg" />
                <div>Only book that's ever truly prevented me from sleeping </div>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-lg-3 col-sm-6 img-thumbnail">
                <img src="~/Images/Books/AgeOfTurbulence.jpg" />
                <div> Bob is so cool. Piercing analytical mind.</div>
            </div>
            <div class="col-lg-3 col-sm-6 img-thumbnail">
                <img src="~/Images/Books/PaulAllen.jpg" />
                <div>Taleb will tear you wide open. Also change you're world view</div>
            </div>
            <div class="col-lg-3 col-sm-6 img-thumbnail">
                <img src="~/Images/Books/LeonardoDaVinci.jpg" />
                <div>Tim is a hero and and thinks in an inspiringly pragmatic manner.</div>
            </div>
            <div class="col-lg-3 col-sm-6 img-thumbnail">
                <img src="~/Images/Books/BenFranklin.jpg" />
                <div>Only book that's ever truly prevented me from sleeping </div>
            </div>
        </div>

        <br />

    }

    else
    {
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <img src="~/Images/Books/Uncertain World.jpg" />
                <div> Bob is so cool. Piercing analytical mind.</div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="~/Images/Books/AntiFragile.jpg" />
                <div>Taleb will tear you wide open. Also change you're world view</div>
            </div>
            <div class="col-lg-3 col-sm-6 ">
                <img src="~/Images/Books/StressTest.jpg" />
                <div>Tim is a hero and and thinks in an inspiringly pragmatic manner.</div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="~/Images/Books/RichardFeynman.jpg" />
                <div>Only book that's ever truly prevented me from sleeping </div>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <img src="~/Images/Books/AgeOfTurbulence.jpg" />
                <div>The Maestro was actually like really smart.</div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="~/Images/Books/PaulAllen.jpg" />
                <div>Best part are the stories of Paul and Bill when they were young hustlers.</div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="~/Images/Books/LeonardoDaVinci.jpg" />
                <div>Beautiful pictures and nice paper in this book.</div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="~/Images/Books/TheCourageToAct.jpg" />
                <div>It's Uncle Ben!</div>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <img src="~/Images/Books/MoreThanYouKnow.jpg" />
                <div>Michael is actually the best financial thinker.</div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="~/Images/Books/AManForAllMarkets.jpg" />
                <div>Thorpe is cray</div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="~/Images/Books/AgainstTheGods.jpg" />
                <div>Beautiful pictures and nice paper in this book.</div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="~/Images/Books/Napoleon.jpg" />
                <div></div>
            </div>
        </div>

        <br />
    }


}

