@page
@model FunWithBrandt.BooksModel
@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>
<br /><br />

<p>This page is coming soon. It's a big project and I'll be modeling it off of 
    <a href="https://www.gatesnotes.com/Books">Bill Gates' blog</a>
    because I think his looks pretty cool.
    </p>

