@page
@model FunWithBrandt.BooksModel
@{
    ViewData["Title"] = "Books";
}


<head>
    <style>
        img {
            width: 200px;
            height: 260px;
        }
    </style>
</head>

<h1>Books</h1>

<br />


<p>
    This page is coming soon. It's a big project and I'll be modeling it off of
    <a href="https://www.gatesnotes.com/Books">Bill Gates' blog</a>
    because I think his looks pretty cool.
</p>
<br />


@{
    int bookCount = 0;
    for (int i = 0; i < Model.RowCount; i++)
    {
        <div class="row">

           @{ 
               for (int x = 0; x < 4; x++)
               {
                   if (bookCount < Model.Books.Count)
                   {
                        <div class="col-lg-3 col-sm-6">

                            <img @(@"src= /Images/Books/" + Model.Books[bookCount].CoverImageName)  />
                            <div> @Model.Books[bookCount].CoverDescription</div>
                        </div>
                   }
                   bookCount++;

               }
            }

        </div>
        <br />
    }
}



