@page
@model FunWithBrandt.GraphsModel
@{
    ViewData["Title"] = "Graphs";
}

<h1>Graphs</h1>

<br /><br />

<p>I think the vision for this page is going to be a dashboard of sorts with various graphs that are scaped from different websites. 
    Similar to below except smaller and a lot more. Also, the plotting will likely be done in Python.</p>
<br />
<img style="width:75%;" src="~/Images/Infaltion Graph.png" />
