@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Well Hello</h1>
</div>

<div>
    <p>This is me. Join my world</p>
    <p> The prupose behind creating this website was threefold. </p>

    <p>One I wanted to practice my C# skills and I needed a project
        Making this website has given me a whole bunch of problems to solve and in the process I had to learn
        HTML, CSS, Bootstrap, Javascript, razor pages, how to store data (still working on that), how to call scripts from one 
        programming language to another which in this case is calling Python from C#.
    </p>
    <p>
        Two, I wanted to hone my writing skills. I figured making a blog is the best way to do that because putting content out there for the world
        to see is a powerful motivator to create the best content possible
    </p>
    <p>
        Third, I thought it would be fun to have a easily accessible place to store content that I care about. This is how the Book and 
        knowledge repository pages came to be. The book page will allow me to keep track of my reading and give commentary to my future self and others.
        Knowledge repository is intended to be just a storehouse for any sources of information that are useful or cool.
    </p>
    <br />
    <p class="text-center"> This is me and these are the boys.</p>
    <img src="~/Images/The Boys.jpg" />
</div>
