@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div>
        <h1>Well Hello</h1>
        <p>This is me. Join my world</p>
        <img src="~/Images/The Boys.jpg" />
    </div>
</div>
