@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <style>

        .img-container {
            width:250px;
            height:300px;
        }

        .carousel-image {
            width: 850px;
            height: 750px;
        }
    </style>
</head>



<div class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert">
        x
    </button>
    This website is currently under development. Don't judge it to harshly for being shitty
</div>


<h1 class="text-center">Welcome </h1>

<form method="post">
    <button formmethod="post" type="submit" class="btn btn-light">For Hubbell</button>
</form>

<br />
@{ if (Model.ShowHubbel)
    {
        <p>
            Hubbell: Should I have this top part be an "About Me" section and then the bottom be a "Website Architecture"
            section which has why I made it and stuff? Or something that sounds less douchey.
            Or should I have that be a separate tab? Or do I just not need that? I kind of feel like the idea of a really short bio
            ,but if it's too short then I think this page will look bad.
        </p>
    }

}


<div class="row">

    <div class="col">

        <div class="float-right">
            <img class="rounded img-fluid img-container" src="~/Images/lsuGraduation.jpg" />
        </div>
        <p> The purpose behind creating this website was threefold. </p>

        <p>
            One I wanted to practice my C# skills and I needed a project.
            Making this website gave me a whole bunch of problems to solve and in the process I had to learn
            HTML, CSS, Bootstrap, Javascript, razor pages, how to store data (still working on that), how to call scripts from one
            programming language to another which in this case is calling Python from C#.
        </p>
        <p>
            Two, I wanted to hone my writing skills. I figured making a blog is the best way to do that because putting content out there for the world
            to see is a powerful motivator to create the good quality stuff.
        </p>
        <p>
            Third, I thought it would be fun to have an easily accessible place to store things that I care about. This is how the Book and
            knowledge repository pages came to be. The book page will allow me to keep track of my reading and give commentary to my future self and others.
            Knowledge repository is intended to just be a storehouse for any sources of information that are useful or cool.
        </p>

    </div>

</div>


<br/>
    <br />
    <hr />
    <br />
    <br />

<div class="row">
    <div class="col offset-1">
        <h1 class="text-center" style="font-size:large">Beautiful Carousel Attempt</h1>
        <p>
            Need to figure out how to make the pictures turn out better. I resized them with CSS to make them all the same size, but
            that makes some weird distortions for certain pictures.
        </p>
        <div id="demo" class="carousel slide" data-ride="carousel" data-interval="6500">

            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <div class="carousel-inner">

                <div class="carousel-item active">
                    <img class="carousel-image rounded" src="~/Images/lsuGraduation.jpg" />
                    <div class="carousel-caption">
                        <h4>LSU Graduation</h4>
                    </div>
                </div>

                <div class="carousel-item">
                    <img class="carousel-image rounded" src="~/Images/smartLabCFA.jpg" />
                    <div class="carousel-caption">
                        <h4>CFA Research Challenge</h4>
                    </div>
                </div>

                <div class="carousel-item">
                    <img class="carousel-image rounded" src="~/Images/The Boys.jpg" />
                    <div class="carousel-caption">
                        <h4>Mardi Gras Ball</h4>
                    </div>
                </div>

            </div>
        </div>

@*for some reason these look trash*@
<a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>