@page
@model FunWithBrandt.ProgramsModel
@{
    ViewData["Title"] = "Programs";
}

<head>
    <style>
        .pre-scrollable {
            max-height: 450px;
        }

        .program-language {
            font-size:x-large
        }
        .program-title {
            font-size:large
        }
        .program-description {

        }
        .program-code {

        }

    </style>
</head>

<h1>Programs</h1>
<br /> <br/>

@foreach (var post in Model.programPosts)
{
    <div>
        <h1 class="program-language">@post.Language</h1>
        <h2 class="program-title">@post.Title</h2>
        <p class="program-description">@post.Description</p>
        <br />

        <pre class="pre-scrollable prettyprint">
            @post.Code
        </pre>

    </div>
    <hr />
    <br />
    <br />
}

<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>


