@page
@model FunWithBrandt.ProgramsModel
@{
    ViewData["Title"] = "Programs";
}

<h1>Programs</h1>

<div>
    <h6>
        RGB Color Finder
    </h6>
    <br />
    <p>
        This wil be my description of the program.
    </p>
    <br />
    <p>
        And here we have the actual code.
    </p>

</div>