@page
@model FunWithBrandt.ProgramsModel
@{
    ViewData["Title"] = "Programs";
}

<head>
    <style>
        .pre-scrollable {
            max-height: 450px;
        }
    </style>
</head>

<h1>Programs</h1>
<br />

@foreach (var post in Model.programPosts)
{
    <div>
        <h4>@post.Title <span>--- @post.Language</span></h4>
        <p>@post.Description</p>
        <br />

        <pre class="pre-scrollable prettyprint">
            @post.Code
        </pre>

    </div>
    <hr />
    <br />
    <br />
}

<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>


