@page
@model FunWithBrandt.ProgramsModel
@{
    ViewData["Title"] = "Programs";
}

<h1>Programs</h1>
<br />

@foreach (var post in Model.programPosts)
{
    <div>
        <h4>@post.Title <span>--- @post.Language</span></h4>
        <p>@post.Description</p>
        <br />
        <p style="white-space:pre-wrap"> @post.Code</p>
    </div>
    <hr />
    <br />
    <br />

}